* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
  color: #ff4c68;
}

header p {
  color: #ccc;
  font-size: 1.2rem;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-section input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.input-section button {
  padding: 10px 20px;
  border: none;
  background-color: #ff4c68;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-section button:hover {
  background-color: #e63e5e;
}

.recommendations {
  text-align: center;
}
  
.recommendations h2 {
  margin-bottom: 20px;
}
  
.recommendations img{
  height:20em;
}

.movie-card {
  background-color: #1e1e1e;
  display: inline-block;
  margin: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card button div{
  margin-bottom: 15px;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

.suggestion-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;

}
  
.suggestion-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: #ffffff;
  transition: background 0.2s;
  height: 5em;
  background-color: #ffffff00;
  text-align: center;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 50px;
  position: relative;
  right:6.5em;
}
  
.change-color{
  background-color: #222;
}
  
button{
  color:white;
  border: none;
  background-color: #00000000;
  cursor: pointer;
  font-size: 1rem;
}
  

.recommendations form{
  display: inline-block;
}

.movie-description{
  display: flex;
  align-items: center;
  width: 75%;
  justify-self: center;
  justify-content: center;
  margin-bottom: 5em;
}

.movie-description div{
  width:50%;
  margin-left: 5em;
  height: 20em;
}

.movie-description img{
  border: 2px solid #423e3e;
  padding: 0.5em;
  height: 20em;
}