<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Recommender</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <h1><a href="/" style="text-decoration: none; color: #ff4c68;">🎬 Movie Recommender</a></h1>
      <p>Discover movies tailored to your taste!</p>
  </header>


  <main>
    <section class="input-section">
      <form method="POST" action="/">
        <input type="text" name="movie" placeholder="Enter a movie you like..." required autocomplete="off" 
        autocorrect="off"/>
        <button type="submit">Get Recommendations</button>
      </form>
    </section>
    
    <div class="suggestion-box">
      <div class="suggestion-item">
        <form action="/" method="POST">
          <input type="text" name="movie" id="" hidden>
          <button></button>
        </form>
      </div>
    </div>

    {% if suggest==False%}
        {% if len(recommendations)>1%}
        <section class="recommendations">
          <div class="movie-description">
            <img src="{{get_poster(movie.iloc[0]['id'])}}" alt="">
            <div>
              <h2>{{ movie.iloc[0]['title'].title()}} <span class="release_date">({{movie.iloc[0]['release_date'][:4]}})</span></h2>
              <p>{{ movie.iloc[0]['description'] }}</p>
            </div>
          </div>
          <h2>Recommended Movies for {{ movie.iloc[0]['title'].title()}}:</h2>
          {% for movie_i in recommendations %}
          <form method="POST" action="/">
            <input name="movie" value="{{ movie_i.title }}" hidden/>
            <div class="movie-card">
              <button type="submit">
                <div> {{ movie_i.title }}</div>
                <div><img src="{{movie_i.thumb}}" alt=""></div>
              </button>
            </div>
          </form>
          {% endfor %}
        </section>
        {% elif len(recommendations)==1 %}
        <section class="recommendations">
          <h2>{{ recommendations[0] }}</h2>
        </section>
        {% endif %}

    {%else%}

        <section class="recommendations">
          <h2>Did you mean:</h2>
          {% for i in range(top_ten) %}
          <form method="POST" action="/">
            <input name="movie" value="{{ movies.title[movies.index[i]] }}" hidden/>
            <div class="movie-card">
              <button type="submit">
                <div> {{ movies.title[movies.index[i]].title() }} </div>
                <div><img src="{{ get_poster(movies.id[movies.index[i]]) }}" alt=""></div>
              </button>
            </div>
          </form>
          {% endfor %}
        </section>

    {%endif%}
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

  </main>

  <footer>
    <p>© 2025 Movie Recommender App</p>
  </footer>
</body>
</html>
